#wrapper {
  background-image: url('../src/assets/faded-american-flag-background-10.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}

.rep-list-view {
  position: fixed;
  text-align: left;
  height: 100vh;
  overflow: auto;
  width: 100%;
  /* padding: 1em */
  margin-left: 2em
}

.rep-detail-view {
  text-align: left;
  overflow: auto;
  width: 100%;
}

.welcome-content {
  margin: 12em;

}

.registration {
  padding: 1em;
  margin: 10em
}

.login-form {
  padding: 1em;
  margin: 10em
}

.mail-form {
  padding: 2em;
}

.mailer-header {
  padding: 2em
}

.nav {
  padding: 1em;
}

.search-bar {
  margin-left: 20em;
}

.views-container {
  height: 83.5vh
}
